*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pri_clr-1: hsl(342, 100%, 67%);
    --pri_clr: hsl(4, 100%, 67%);
    --Dark_Slate_Grey: hsl(234, 29%, 20%);
    --Charcoal_Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--Dark_Slate_Grey);
    width: 100%;
    height: 100%;
    /* position: fixed; */
}
main{
    width: 100%;
    max-width: 23.5rem;
    position: relative;
    box-shadow: 0 0 4px gray;
}
.imgbx,
.contentbx{
    width: 100%;
}
.imgbx{
    height: 40%;
}
.contentbx{
    height: 60%;
    padding: 1rem;
    
}
.contentbx p,
.contentbx ul li{
    color: var(--Charcoal_Grey);
    font-weight: 500;
}
.contentbx h2{
    color: var(--Dark_Slate_Grey);
    font-size: 2.5rem;
}
li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
li img{
    width: 1.3rem;
}

form input{
    border-radius: 8px;
    border: 1px solid gray;
}

.subscribe-Btn{
    background-color: var(--Dark_Slate_Grey);
    color: var(--White);
    border-radius: 10px;
    transition: .3s;
}
.subscribe-Btn:hover,
.subscribe-Btn:active{
 background: linear-gradient(to right, var(--pri_clr-1), var(--pri_clr) );
}

.dialog{
    width: 100%;
    max-width: 23.5rem;
    min-height: 100vh;
    box-shadow: 0 0 4px gray;
    border-radius: 8px;
    background-color: white;
    color: var(--Dark_Slate_Grey);
    border: 1px solid black;
    border-radius: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
dialog::backdrop {
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0);
  }
dialog h2,
dialog p,
dialog button{
    width: 100%;
}
dialog img{
    width: 1.5rem;
}

.dialog-btn{
    background-color: var(--Dark_Slate_Grey);
    color: var(--White);
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2.5rem);
}
.dialog-btn:hover,
.dialog-btn:active{
background: linear-gradient(to right, var(--pri_clr-1), var(--pri_clr) );
}
@media (min-width: 768px) {
    body{
        background-color: var(--Charcoal_Grey);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        background-color: var(--White);
        width: 100%;
        max-width: 75%;
        height: 100%;
        max-height: 75%;
        border-radius: 30px;
    }
    .contentbx h2{
        font-size: 3rem;
    }
  
    .imgbx{
        background: url(assets/images/illustration-sign-up-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        max-width: 95%;
        border-radius: 20px;
    }
 
    .contentbx{
        padding: 2rem;
    }
    .dialog{
        min-height: 60vh;
        inset-block: 30%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 30px;
    
    }
    .dialog-btn{
        position: static;
        bottom: 1rem;
        left: 0;
        transform: translateX(0);
        width: 100%;
    }
}